<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!--This test suite supports tests to be run against 3 popular web browsers. The test suite file is easily scalable.-->
<!-- Simply create tests for new browsers under the tag "suite" using the following template-->

    <!--Tests to be run against 'X' Browser
    <test name="X Browser Test" >
        <classes>
            <class name="your class name"/>
        </classes>
    </test>-->


<suite name="Google.de Homepage Test Suite" verbose="1" >

    <!--Tests to be run against Chrome Browser-->
    <test name="Chrome Browser Test" annotations="JDK" >
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.HomePageTest"/>
        </classes>
    </test>

    <!--Tests to be run against Firefox Browser-->
    <test name="Firefox Browser Test" annotations="JDK" >
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.HomePageTest"/>
        </classes>
    </test>


    <!--UN-COMMENT SNIPPETS BELOW FOR ADDITIONAL BROWSER TESTING SUPPORT-->
    <!--MAKE SURE TO ADD CORRESPONDING DRIVER EXECUTABLES IN THE PROJECT ROOT-->

    <!--Tests to be run against Opera Browser
    <test name="Opera Browser Test" annotations="JDK" >
        <parameter name="browser" value="opera"/>
        <classes>
            <class name="tests.HomePageTest"/>

        </classes>
    </test>-->

    <!--Tests to be run against Microsoft Edge Browser
    <test name="Microsoft Edge Browser Test" annotations="JDK" >
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="tests.HomePageTest"/>
        </classes>
    </test>-->




</suite>